<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="TelegramMessengerLLP.TelegramMessengerPrivateBeta" Publisher="CN=536BC709-8EE1-4478-AF22-F0F0F26FF64A" Version="1.16.5.0" />
  <mp:PhoneIdentity PhoneProductId="cee0f789-8059-4881-8883-347265c01f93" PhonePublisherId="a652821a-0986-4366-8fe7-f00379d89c9b" />
  <Properties>
    <DisplayName>Telegram Messenger</DisplayName>
    <PublisherDisplayName>Telegram Messenger LLP</PublisherDisplayName>
    <Logo>ApplicationIcon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xcee0f789y8059y4881y8883y347265c01f93x" Executable="AGHost.exe" EntryPoint="Views/ShellView.xaml">
      <m3:VisualElements DisplayName="Telegram" Square150x150Logo="SquareTile150x150.png" Square44x44Logo="ApplicationIcon106.png" Description="Fast and secure messaging app" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badgeAndTileText" BadgeLogo="Images/LockScreen/Lockscreen.png" />
        <m3:DefaultTile Square71x71Logo="SquareTile71x71.png" Wide310x150Logo="WideTile310x150.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="TelegramClient.Tasks.PushNotificationsBackgroundTask">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="TelegramClient.Tasks.BackgroundDifferenceLoader">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="TelegramClient.Tasks.MessageSchedulerBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>Weblink</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <Capability Name="internetClientServer" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>